<StackPanel>
    <Rectangle *ngFor="#hero of heroes" Background="Yellow" Height="40" Background="Grey" Margin="0">
        <Text Value="{{hero.id}}"></Text>
    </Rectangle>
</StackPanel>
<!-- 
<DockPanel>
    <Rectangle Dock="Top" [Height]="height" [Background]="background" (click)="onHeaderClick()"></Rectangle>
    <ScrollView>
        <StackPanel>
            <Panel>
                <Rectangle *ngFor="#hero of heroes" Background="Yellow" Height="40">
                    <Text Value="{{hero.id}}"></Text>
                </Rectangle>
            </Panel>
            <Text Value="Hello, {{title}}. I have been clicked {{clickCount}} times."></Text>
            <MyRectangle [MyWidth]="mywidth"></MyRectangle>

        </StackPanel>
    </ScrollView>
</DockPanel> -->
