<DockPanel>
    <Rectangle Dock="Top" [Height]="height" [Background]="background" (click)="onHeaderClick()"></Rectangle>
    <!--  <TextInput (topchange)="name = $event.text" height="40" fontSize="30" placeholder="name"></TextInput>
      (click)="onSelect(hero)"-->
    <ScrollView>
        <StackPanel>
            <Panel>
                <Rectangle *ngFor="#hero of heroes" Background="Yellow" Height="40">
                    <Text Value="{{hero.id}}"></Text>
                </Rectangle>
            </Panel>
            <Text Value="Hello, {{title}}. I have been clicked {{clickCount}} times."></Text>
            <MyRectangle [MyWidth]="mywidth"></MyRectangle>

        </StackPanel>
    </ScrollView>
</DockPanel>
