@import "../../../../styles/analytics/_colors.scss";
.login {
    position: absolute;
    height: 100%;
    width: 100%;
    background: $stable;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    > form {
        width: 380px;
        padding:20px;
        background: $light;
        box-shadow: $box-shadow;
        border-radius: $border-radius;
    }
    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .logo {
            width: 180px;
            height:180px;
            margin-bottom: 20px;
        }
        .field {
            border: 2px solid $bordergrey;
            border-radius: $border-radius;
            outline: none;
            width: 100%;
            height: 45px;
            margin-bottom: 20px;
            padding: 0px 10px 0px 10px;
            color: $grey;
            &::placeholder {
                color: $grey;
                opacity:0.19;
            }
            &:-webkit-autofill {
                -webkit-box-shadow: 0 0 0 1000px $light inset;
            }
            .icon {
                position: relative;
                color: $lightgrey;
                left: 175px;
                top: 22.5px;
                line-height: 0 !important;
                font-size: 24px;
            }
        }
    }
    .submit {
        border: none;
        border-radius: $border-radius;
        width: 100%;
        height: 45px;
        font-size: 16px;
        color: $light;
        background-color: $balanced;
    }
    .signup {
        color: $positive !important;
        cursor: pointer;
        font-size: 13px;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: left;
    }
    .error {
        margin-top: 30px;
        padding: 5px;
        text-align: center;
        border-radius: 2px;
        color: $assertive;
        min-height: 31px;
    }
    .footer {
        position: absolute;
        bottom: 10px;
        width: 100%;
        text-align: center;
        font-size: 11px;
        color: $light;
    }
}
